{
  "host_entries": [
  {% for host in irods_hosts %}{{ ',' if host != irods_hosts[0] else '' }}
    {
      "address_type" : "{{ 'local' if host == inventory_hostname else 'remote' }}",
      "addresses" : [
        {"address" : "{{ host }}"},
        {"address" : "{{ hostvars[host]['ansible_default_ipv4']['address'] }}"}
      ]
    }
  {% endfor %}
  ]
}
